
@import '../../App.css';

.header{
    height: 8rem;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar{
        color: var(--secondary);
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Safari */
        -khtml-user-select: none;    /* Konqueror HTML */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;          

        a{
            text-decoration: none;
            color: var(--secondary);    
        }
                      
        h1{
            font-size: 4rem;
            margin: 0;
        }
        .links{
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            color: var(--text);
            font-size: 1.8rem;
        }
    }
}